config BOARD_EFOGTECH_TRBL_52833
    bool "efogtech_trackball_0"
    depends on SOC_NRF52833_QIAA

config BOARD_EFOGTECH_0_VER_MAJOR
    int "0"

config BOARD_EFOGTECH_0_VER_MINOR
    int "2"

config BOARD_EFOGTECH_0_VER_PATCH
    int "0"
