# Electronut Labs Papyr board configuration

# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if BOARD_EFOGTECH_TRBL_52833

config BOARD
    default "efogtech_trackball_0"

config ZMK_KEYBOARD_NAME
    default "Trackball"

config EC11
    default y

config PWM
    default y

config LED_PWM
    default y

config SPI
    default y

config BT_CTLR
    default BT

config ZMK_BLE
	default y

config ZMK_USB
	default y

config USB_DEVICE_STACK
	default y

config USB_NRFX
    default y

endif # BOARD_EFOGTECH_TRBL_52833
