#include <dt-bindings/spi/spi.h>

/ {
	aliases {
		led-strip = &led_strip;
	};

	chosen {
		zmk,underglow = &led_strip;
//		zmk,backlight = &backlight;
	};

	leds {
		compatible = "gpio-leds";

		led_0 {
			gpios = <&gpio0 9 GPIO_ACTIVE_HIGH>;
		};

		led_1 {
			gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>;
		};
	};

//	backlight: pwmleds {
//		compatible = "pwm-leds";
//
//		pwm_led_0 {
//			pwms = <&pwm0 0 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
//		};
//	};

	EXT_POWER: EXT_POWER {
		compatible = "zmk,ext-power-generic";
		control-gpios = <&gpio1 0 GPIO_ACTIVE_HIGH>, <&gpio1 3 GPIO_ACTIVE_HIGH>;
		init-delay-ms = <10>;
	};
};

//&pwm0 {
//	status = "okay";
//	pinctrl-0 = <&pwm0_default>;
//	pinctrl-1 = <&pwm0_sleep>;
//	pinctrl-names = "default", "sleep";
//};

&spi2 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	pinctrl-0 = <&spi2_default>;
	pinctrl-1 = <&spi2_sleep>;
	pinctrl-names = "default", "sleep";

	led_strip: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";
		reg = <0>;
		chain-length = <16>;
		spi-max-frequency = <4000000>;
		spi-one-frame = <0x70>;
		spi-zero-frame = <0x40>;
		spi-cpha;
		color-mapping =
			<
				LED_COLOR_ID_GREEN
				LED_COLOR_ID_RED
				LED_COLOR_ID_BLUE
			>;
	};
};
